<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Module id="${project.name}" class="org.modelio.module.attacktreedesigner.impl.AttackTreeDesignerModule" binaryversion="3.8.0" version="${project.version}" schema-level="2" uid="e9061c29-1a92-4608-891f-1e3d3b2f2bd6" author="Softeam" image="" url="">
    <ClassPath>
        <PathEntry path="lib/${project.artifactId}-${project.version}.jar"/>
    </ClassPath>
    <Profiles>
        <Profile uid="e37a5820-06b4-4268-a1de-46eb78224dce" id="attacktree">
            <Stereotype name="And" metaclass="Standard.Class" owner-stereotype="" is-hidden="false" label="%stereotype.AND.label" uid="25f299d0-3f80-4347-964f-4a317676e21e" is-abstract="false">
                <Icon path="res/icon/gui/and2.png"/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="Or" metaclass="Standard.Class" owner-stereotype="" is-hidden="false" label="%stereotype.OR.label" uid="3664495d-49db-45c1-a18b-4e4e7cb08345" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="Event" metaclass="Standard.Class" owner-stereotype="" is-hidden="false" label="%stereotype.EVENT.label" uid="b3e39c51-3f77-4fc4-bc2a-10234dd8e236" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="Goal" metaclass="Standard.Class" owner-stereotype="mref#'' {9b0ef033-dd0c-456b-847f-8297fd3f9a3a} Infrastructure.Stereotype" is-hidden="false" label="%stereotype.OR.label" uid="98a31175-827e-4d13-bcaa-da132b3ab216" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="SubGoal" metaclass="Standard.Class" owner-stereotype="mref#'' {b3e39c51-3f77-4fc4-bc2a-10234dd8e236} Infrastructure.Stereotype" is-hidden="false" label="%stereotype.OR.label" uid="9b0ef033-dd0c-456b-847f-8297fd3f9a3a" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
        </Profile>
        <Profile uid="dcb18dc7-0d64-4e62-9a9c-fbbe60ed42df" id="attacktree.diagrams">
            <Stereotype name="AttackTreeDiagram" metaclass="Standard.ClassDiagram" owner-stereotype="" is-hidden="false" label="%stereotype.AttackTreeDiagram.label" uid="76f18db6-c75b-4873-86dd-c382e5e7c4f7" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
        </Profile>
    </Profiles>
    <Gui>
        <Commands>
            <Command id="AttackTreeDiagramExplorerCommand" label="%command.AttackTreeDiagramExplorerCommand.label" tooltip="%command.AttackTreeDiagramExplorerCommand.tooltip" image="" modify-model="false">
                <Scope metaclass="Standard.Package" stereotype=""/>
                <Handler class="org.modelio.module.attacktreedesigner.command.explorer.AttackTreeDiagramCommand">
                    <HParameter name="name" value=""/>
                </Handler>
            </Command>
            <Command id="Import" label="%command.Import.label" tooltip="%command.Import.tooltip" image="" modify-model="false">
                <Scope metaclass="Infrastructure.ModelElement" stereotype=""/>
                <Handler class="org.modelio.module.attacktreedesigner.command.explorer.ImportCommand"/>
            </Command>
            <Command id="Export" label="%command.Export.label" tooltip="%command.Export.tooltip" image="" modify-model="false">
                <Scope metaclass="Infrastructure.ModelElement" stereotype=""/>
                <Handler class="org.modelio.module.attacktreedesigner.command.explorer.ExportCommand"/>
            </Command>
        </Commands>
        <Tools>
            <Tool id="Event" label="%tool.Event.label" tooltip="%tool.Event.tooltip" image="">
                <Scope-source metaclass="Standard.Package" stereotype=""/>
                <Handler class="Box">
                    <HParameter name="stereotype" value="AttackTreeDesigner#Event"/>
                    <HParameter name="metaclass" value="Standard.Class"/>
                    <HParameter name="name" value="Event"/>
                </Handler>
            </Tool>
        </Tools>
        <ContextualMenu>
            <CommandRef refid="AttackTreeDiagramExplorerCommand" group="" group-image=""/>
            <CommandRef refid="Export" group="" group-image=""/>
            <CommandRef refid="Import" group="" group-image=""/>
        </ContextualMenu>
        <Diagrams>
            <DiagramType base-diagram="Standard.ClassDiagram" stereotype="AttackTreeDesigner#AttackTreeDiagram">
                <Palette keepBasePalette="true"/>
                <Wizard label="%wizard.Attack_Tree_Diagram.label" icon="" information="%wizard.Attack_Tree_Diagram.info" details="%wizard.Attack_Tree_Diagram.detail" preview-image="">
                    <Scope metaclass="Standard.Package" stereotype=""/>
                    <Handler class="org.modelio.module.attacktreedesigner.command.wizard.AttackTreeDiagramWizard">
                        <HParameter name="style" value="attacktree"/>
                    </Handler>
                </Wizard>
                <Handler class="org.modelio.module.attacktreedesigner.customizer.AttackTreeDiagramCustomizer">
                    <HParameter name="stereotype" value="AttackTreeDesigner#AttackTreeDiagram"/>
                    <HParameter name="metaclass" value="Standard.ClassDiagram"/>
                </Handler>
            </DiagramType>
        </Diagrams>
        <Views>
            <PropertyPage id="Attack_Tree" class="org.modelio.module.attacktreedesigner.property.AttackTreePropertyPage" label="%propertypage.Attack_Tree.label" image=""/>
        </Views>
    </Gui>
    <Resources>
        <Styles>
            <Style id="attacktree" path="res/generated/styles/attacktree.style"/>
        </Styles>
    </Resources>
</Module>
